<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Contact Listing</title>
</head>

<body>
    <div class="container">
        <h1>Contact Listing</h1>
        <hr>

        <div class="list-group">
            <ul th:each="entry: ${contacts}">
                <a th:href="@{/contact/{id}(id=${entry.key})}" class="list-group-item list-group-item-action">
                    <span data-th-text="${entry.value}"></span></a>
            </ul>
        </div>

        <a th:href="@{/add}" class="btn btn-primary">Add new Contact</a>
    </div>

</body>

</html>